@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-size: 16px;
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 375px;
  font-family: "karla", sans-serif;
  font-size: 16px;
  color: hsl(187, 24%, 22%);
  font-weight: 400;
}

.form-container {
  width: 250px;
  height: 80%;
  background-color: #fff;
  margin: 40px;
  padding: 10px 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

h2 {
  font-weight: 700;
}

.alert{
  display: none;
  font-size: 12px;
  color: red; 
}
.input-normal:focus {
  outline: none;
  border-color: green;
}

.input-normal-query:focus {
  background-color: hsl(148, 38%, 91%);
  border-color: green;
}

input[type='radio'] {
  accent-color: green;
}
.alert p{
  margin-top: 0;
}

.query .input-normal-query{
  margin-bottom: 0;
}
.query .general{
  margin-bottom: 10px;
}
.query-section{
  margin-bottom: 30px;
}

.input-normal{
  border-radius: 5px;
  border: 1px solid grey;
  height: 25px;
  width: 250px;
}

.name-grid {
  margin-bottom: 30px;
}
.input-normal-query{
  border-radius: 5px;
  border: 1px solid grey;
  height: 35px;
  width: 250px;
  margin-bottom: 20px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  /* padding-left: 20px; */
}
.input-normal-query input {
  margin-left: 20px;
}

p {
  margin: 10px 0px;
}

.input-div {
  /* margin-bottom: 20px; */
  margin-bottom: 0;
}

.message-box {
  height: 150px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 0;
}



.agreement {
  display: flex;
}

button {
  color: #fff;
  background-color: hsl(169, 82%, 27%);
  border: none;
  width: 260px;
  height: 40px;
  border-radius: 10px;
}

.btn-div {
  margin-top: 20px;
}

.query input {
  margin-right: 10px;
}

.agreement p {
  margin-left: 10px;;
}

.query-section{
  margin-top: 20px;
}
.query-section .alert p {
  margin-top: 0;
}




/*desktop*/
@media screen and (min-width:720px){
  body{
    max-width: 1440px;
  }
  
  .name-grid{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    column-gap: 120px;
  }

  .input-div {
    width: 300px;
    
  }

  .form-container{
    width: 650px;
  }

  .input-normal{
    height: 35px;
    width: 300px;
  }

  .email .input-normal{
    width: 625px;
  }
  .query {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    column-gap: 120px;
  }

  

  .input-normal-query{
    width: 310px;
    margin-bottom: 5px;
  }
  
  .text-box {
    width: 300px;
  }

  textarea{
    max-width: 625px;
  }

  .message-box {
    width: 625px;
    height: 100px;

  }

  .btn-div button {
    width: 630px;
  }

  .agreement p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .text-box {
    margin-bottom: 20px;
  }

  .text-box textarea{
    margin-bottom: 0;
  }

}